# http://editorconfig.org

# top-most EditorConfig file
root = true

# these are the defaults
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*_expected]
trim_trailing_whitespace = false

# C files want tab indentation
[*.{c,h,h.in}]
indent_style = tab

# Perl files want tab indentation
[*.pl]
indent_style = tab

# Exception: utils/postgis_proc_upgrade.pl uses 4-spaces indent
[utils/postgis_proc_upgrade.pl]
indent_style = space
indent_size = 4

# SQL files want tab indentation
[*.{sql,sql.in}]
indent_style = tab

# topology C files want space indentation
[topology/*.{c,h}]
indent_style = space
indent_size = 2

# topology C files want space indentation
[liblwgeom/lwgeom_topo.{c,h}]
indent_style = space

[liblwgeom/lwgeom_log.h]
indent_style = space

# topology SQL files want space indentation
[topology/**.{sql,sql.in}]
indent_style = space

# postgis/sfcgal.sql.in wants space indentation
[postgis/sfcgal.sql.in]
indent_style = space

# .h.in files want space indentation
[*.h.in]
indent_style = space

# Makefiles want tab indentation
[{Makefile.in,Makefile,GNUmakefile.in}]
indent_style = tab

# .bat files want CRLF
[*.bat]
end_of_line = crlf

# Docbook should be space cause tabs are mangled in html
[*.xml]
indent_style = space
indent_size = 4
