*.a
.svn
*.o
*.so
configure
doc/Makefile
doc/Makefile.comments
doc/html/image_src/Makefile
doc/postgis_comments.sql
doc/raster_comments.sql
liblwgeom/Makefile
liblwgeom/cunit/Makefile
liblwgeom/cunit/cu_tester
liblwgeom/liblwgeom.a
libtool
loader/Makefile
loader/cunit/Makefile
loader/pgsql2shp
loader/shp2pgsql
ltmain.sh
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
postgis/Makefile
postgis/postgis.sql
postgis/postgis.sql.in
postgis/postgis_upgrade_13_to_15.sql
postgis/postgis_upgrade_14_to_15.sql
postgis/postgis_upgrade_15_minor.sql
postgis/sqldefines.h
postgis/uninstall_postgis.sql
postgis/uninstall_postgis.sql.in
postgis_config.h
raster/Makefile
regress/00-regress-install/
regress/Makefile
regress/postgis.sql
topology/Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
raster/rt_pg/rtpostgis.sql
raster/rt_pg/rtpostgis.sql.in
raster/scripts/python/Makefile
topology/test/topo_predicates.sql
topology/test/load_topology-4326.sql
topology/test/load_topology.sql
topology/topology.sql
topology/topology.sql.in
st_*.png
de9i*.png
doc/html/image_src/generator
doc/html/postgis.html
doc/postgis-out.xml
doc/postgis_aggs_mm.xml
raster/raster_config.h
loader/cunit/cu_tester
loader/shp2pgsql-gui
GNUmakefile
