*.sh		eol=lf
*.ac        eol=lf
*.h.in      eol=lf
*.h         eol=lf
GNUmakefile.in eol=lf
*_expected  eol=lf
*.dmp       eol=lf
ChangeLog eol=lf
doc/development/compatibility/data/cache.json -diff linguist-generated=true
