*.a
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
de9i*.png
doc/html/image_src/generator
doc/html/image_src/Makefile
doc/html/postgis.html
doc/Makefile
doc/Makefile.comments
doc/postgis_aggs_mm.xml
doc/postgis_comments.sql
doc/postgis-out.xml
doc/raster_comments.sql
GNUmakefile
liblwgeom/cunit/cu_tester
liblwgeom/cunit/Makefile
liblwgeom/liblwgeom.a
liblwgeom/Makefile
libtool
loader/cunit/cu_tester
loader/cunit/Makefile
loader/Makefile
loader/pgsql2shp
loader/shp2pgsql
loader/shp2pgsql-gui
ltmain.sh
macros/libtool.m4
macros/lt~obsolete.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
*.o
postgis_config.h
postgis/Makefile
postgis/legacy.sql
postgis/legacy.sql.in
postgis/postgis.sql
postgis/postgis.sql.in
postgis/postgis_upgrade_13_to_15.sql
postgis/postgis_upgrade_14_to_15.sql
postgis/postgis_upgrade_15_minor.sql
postgis/postgis_upgrade_20_minor.sql
postgis/sqldefines.h
postgis/uninstall_postgis.sql
postgis/uninstall_postgis.sql.in
raster/Makefile
raster/raster_config.h
raster/rt_core/Makefile
raster/rt_pg/Makefile
raster/rt_pg/rtpostgis.sql
raster/rt_pg/rtpostgis.sql.in
raster/scripts/python/Makefile
raster/test/core/Makefile
raster/test/core/testapi
raster/test/core/testwkb
raster/test/Makefile
raster/test/regress/Makefile
raster/test/regress/rtpostgis.sql
regress/00-regress-install/
regress/Makefile
regress/postgis.sql
*.so
st_*.png
.svn
topology/Makefile
topology/test/load_topology-4326.sql
topology/test/load_topology.sql
topology/test/topo_predicates.sql
topology/topology.sql
topology/topology.sql.in
authors.git
