services:
  - docker

sudo: true
language: c

env:
  - tag=latest mode=tests
  - tag=pg11-geos37-gdal24-proj52 mode=debug
  - tag=pg11-geos37-gdal24-proj52 mode=coverage
  - tag=pg11-geos37-gdal24-proj52 mode=usan_gcc
  - tag=pg11-geos37-gdal24-proj52 mode=usan_clang
  - tag=pg11-geos37-gdal24-proj52 mode=no_wagyu
  - tag=pg11-geos37-gdal24-proj52 mode=tests
  - tag=pg10-geos36-gdal23-proj49 mode=tests
  - tag=pg96-geos36-gdal22-proj49 mode=tests
  - tag=pg95-geos35-gdal111-proj48 mode=tests

matrix:
  allow_failures:
    - env: tag=latest mode=tests

script:
  - echo "/tmp/logbt-coredumps/core.%p.%E" | sudo tee /proc/sys/kernel/core_pattern
  - echo "FROM postgis/postgis-build-env:${tag}" > Dockerfile
  - echo "ADD --chown=postgres:postgres . /src/postgis" >> Dockerfile
  - echo "CMD bash ci/travis/run_${mode}.sh" >> Dockerfile
  - docker build -t pgtest .
  - docker run $ci_env --name pgtest-${TRAVIS_BUILD_NUMBER} pgtest

after_success:
  - docker rm pgtest-${TRAVIS_BUILD_NUMBER}

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
