env:
  global:
    - RUNTESTFLAGS=-v

addons:
  postgresql: "9.5"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y
      postgresql-9.5 postgresql-server-dev-9.5
      build-essential autoconf libtool libcunit1-dev
      xsltproc docbook-xsl docbook-mathml dblatex
      libproj-dev libgdal-dev libgeos-dev libjson0-dev
  - dpkg -l | grep postgresql
  - ./autogen.sh

language: c

compiler: gcc

script:
  - ./configure
  - make
  - find /home/travis -type d -exec chmod 755 {} \;
  - make check
  - make check RUNTESTFLAGS='--dumprestore'
  - sudo make install
  - make installcheck
  - make installcheck RUNTESTFLAGS='--dumprestore'

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
