env:
  global:
    - RUNTESTFLAGS=-v
    - CFLAGS="-O3 -g -fsanitize=address -fno-omit-frame-pointer -Werror"
    - LDFLAGS="-fsanitize=address"

addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-server-dev-9.6
      - libxml2-utils
      - libcunit1-dev
      - xsltproc
      - docbook-xsl
      - docbook-mathml
      - dblatex
      - libgeos-dev
      - libjson0-dev
      - libprotobuf-c0-dev
      - libgdal-dev
      - eatmydata
      - llvm

before_install:
  - sudo eatmydata add-apt-repository --yes ppa:ubuntugis/ppa
  - sudo eatmydata add-apt-repository --yes ppa:ubuntugis/ubuntugis-unstable
  - sudo eatmydata apt-get update -qq
  - sudo eatmydata apt-get install -y --no-install-recommends --no-install-suggests libsfcgal1 libsfcgal-dev
  - wget http://download.osgeo.org/proj/proj-4.9.2.tar.gz
  - tar zxvf proj-4.9.2.tar.gz
  - cd proj-4.9.2
  - CFLAGS="-Ofast" ./configure --prefix=/usr
  - CFLAGS="-Ofast" eatmydata make -j
  - sudo make install
  - cd ..
  - rm -rf proj-4.9.2
  - rm proj-4.9.2.tar.gz
  - sudo ldconfig
  - ./autogen.sh

language: c

compiler: gcc

dist: trusty

cache: ccache

script:
  - ./configure
  - eatmydata make -j
  - chmod 755 /home/travis
  - eatmydata make check
  - eatmydata make check RUNTESTFLAGS='--dumprestore'
  - sudo make install
  - eatmydata make installcheck
  - eatmydata make installcheck RUNTESTFLAGS='--dumprestore'

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
