env:
  global:
    - RUNTESTFLAGS=-v
    - CFLAGS="-O3 -march=native -fsanitize=address,integer -fno-sanitize-recover=all -fno-omit-frame-pointer -Werror -Wno-error=ignored-attributes"
    - LDFLAGS="-fsanitize=address,integer"

addons:
  postgresql: "9.6"
  apt:
    packages:
      - eatmydata

before_install:
  - sudo eatmydata add-apt-repository --yes "deb http://us-central1.gce.archive.ubuntu.com/ubuntu artful main restricted universe multiverse"
  - sudo eatmydata apt-get update -qq
  - sudo eatmydata apt-get dist-upgrade -o APT::Force-LoopBreak=1
  - sudo eatmydata apt-get install -y --no-install-recommends --no-install-suggests -o APT::Force-LoopBreak=1 dpkg
  - sudo eatmydata apt-get install -y --no-install-recommends --no-install-suggests 
      clang-5.0 clang-tidy-5.0
      libcunit1-dev libjson0-dev libprotobuf-c0-dev 
      libsfcgal-dev libproj-dev libgdal-dev libgeos-dev 
      libxml2-utils xsltproc docbook-xsl docbook-mathml dblatex
      postgresql-server-dev-9.6       

language: c

compiler: "clang-5.0"

dist: trusty

cache: ccache

script:
  - ./configure
  - make -j
  - chmod 755 /home/travis
  - make check
  - make check RUNTESTFLAGS='--dumprestore'
  - sudo make install
  - make installcheck
  - make installcheck RUNTESTFLAGS='--dumprestore'

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
