env:
  matrix:
    - CFLAGS="-g -O1" MATRIX_EVAL="touch check-no-trailing-blanks" CC="gcc" PGPORT="5433" CC="/usr/bin/clang-3.9"
    - CFLAGS="-g -O2 -fstack-protector -Wformat -Werror=format-security" LDFLAGS="-Wl,-Bsymbolic-functions -Wl,-z,relro" PGPORT="5433" CC="/usr/bin/clang-3.9"
    - CFLAGS="-g -O3 -mtune=generic -fno-omit-frame-pointer -Werror -Wall -Wextra -Wno-unused-parameter" PGPORT="5433" CC="/usr/bin/clang-3.9"
    - CFLAGS="-g -O0 --coverage -fprofile-arcs -ftest-coverage" LDFLAGS="--coverage -fprofile-arcs -ftest-coverage" CONFIGURE_FLAGS="--enable-debug" PGPORT="5433" CC="/usr/bin/clang-3.9"

addons:
  postgresql: "11"
  apt:
    sources:
      - sourceline: 'deb https://apt.postgresql.org/pub/repos/apt trusty-pgdg main 11'
        key_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'
      - llvm-toolchain-trusty-3.9
    packages:
      - eatmydata
      - postgresql-11
      - postgresql-server-dev-11
      - clang-3.9
      - libc++-dev
      - libc++abi-dev

before_install:
  - eval "${MATRIX_EVAL}"
  - echo "postgres               soft    core            unlimited" | sudo tee -a /etc/security/limits.conf
  - echo "postgres               hard    core            unlimited" | sudo tee -a /etc/security/limits.conf
  - sudo sh -c "echo /usr/lib/libeatmydata/libeatmydata.so >> /etc/ld.so.preload"
  - curl -sSfL https://github.com/mapbox/logbt/archive/v2.0.3.tar.gz | sudo tar --gunzip --extract --strip-components=1 --exclude="*md" --exclude="test*" --directory=/usr/local
  - curl -sSfL https://raw.githubusercontent.com/mapbox/logbt/30c554dd37b6c96c23fc424f75910fc6d6696f00/bin/logbt | sudo tee /usr/local/bin/logbt > /dev/null
  - sudo logbt --setup
  - sudo service postgresql status 11
  - sudo service postgresql stop 11
  - sudo chown -hRL --from=postgres travis:travis /etc /var /tmp
  - sudo usermod -u 1000 postgres
  - sudo adduser travis ssl-cert
  - sudo service postgresql start 11
  - sudo service postgresql status 11
  - sudo add-apt-repository --yes ppa:ubuntugis/ppa
  - sudo add-apt-repository --yes ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update -qq
  - mkdir -p /home/travis/deb && touch /home/travis/deb/__ && sudo cp -n /home/travis/deb/* /var/cache/apt/archives || true
  - sudo apt-get install -y --allow-unauthenticated --no-install-recommends --no-install-suggests libsfcgal1 libsfcgal-dev libxml2-utils libcunit1-dev xsltproc docbook-xsl docbook-mathml dblatex libgeos-dev libjson0-dev libprotobuf-c0-dev libgdal-dev gdb libc6-dbg
  - sudo sh -c "echo deb http://archive.ubuntu.com/ubuntu/ artful main restricted universe multiverse >> /etc/apt/sources.list"
  - sudo apt-get update -qq
  - sudo apt-get install -y --allow-unauthenticated --no-install-recommends --no-install-suggests binutils libproj-dev libprotobuf-c-dev protobuf-c-compiler
  - cp -n /var/cache/apt/archives/* /home/travis/deb || true
  - ls -la /home/travis/deb/
  - sudo ldconfig
  - ./autogen.sh

after_failure:
  - sudo head -n1000 /var/log/postgresql/postgresql-11-main.log

after_success:
  - bash .github/codecov.bash

language: c

compiler: clang

dist: trusty

cache:
  ccache: true
  directories:
    - /home/travis/deb

script:
  - ./configure CFLAGS="$CFLAGS" LDFLAGS="$LDFLAGS" $CONFIGURE_FLAGS || cat config.log
  - make -j
  - chmod 755 /home/travis
  - logbt -- make check "RUNTESTFLAGS=--verbose"
  - logbt -- make check "RUNTESTFLAGS='--dumprestore --verbose'"
  - sudo make install
  - logbt -- make installcheck "RUNTESTFLAGS=--verbose"
  - logbt -- make installcheck "RUNTESTFLAGS=--dumprestore --verbose"

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
