env:
  global:
    - RUNTESTFLAGS=-v

addons:
  postgresql: "9.6"

before_install:
  - sudo add-apt-repository --yes ppa:ubuntugis/ppa
  - sudo add-apt-repository --yes ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update -qq
  - sudo apt-get install -y --no-install-recommends
      postgresql-9.6 postgresql-server-dev-9.6
      libcunit1-dev xsltproc docbook-xsl docbook-mathml dblatex
      libproj-dev libgdal-dev libgeos-dev libjson0-dev
      libsfcgal1 libsfcgal-dev libgdal-dev
  - sudo sh -c "echo deb http://archive.ubuntu.com/ubuntu/ bionic main restricted universe multiverse >> /etc/apt/sources.list"
  - sudo apt-get update -qq
  - sudo apt-get install -y --allow-unauthenticated --no-install-recommends --no-install-suggests binutils libprotobuf-c-dev protobuf-c-compiler
  - dpkg -l | grep postgresql
  - ./autogen.sh

language: c

compiler: gcc

dist: xenial

script:
  - ./configure
  - make
  - chmod 755 /home/travis
  - make check
  - make check RUNTESTFLAGS='--dumprestore'
  - sudo make install
  - make installcheck
  - make installcheck RUNTESTFLAGS='--dumprestore'

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis-activity"
    on_success: change
    on_failure: always
    use_notice: false
