sudo: false

env:
  global:
    - RUNTESTFLAGS=-v

addons:
  postgresql: "9.4"
  apt:
    packages:
    - autoconf
    - build-essential
    - dblatex
    - docbook-mathml
    - docbook-xsl
    - libcunit1-dev
    - libgdal-dev
    - libgeos-dev
    - libjson0-dev
    - libproj-dev
    - libtool
    - postgresql-9.4
    - postgresql-server-dev-9.4
    - xsltproc

language: c

compiler: gcc

script:
  - ./autogen.sh
  - ./configure
  - make
  - make check
  - make install
  - make installcheck

notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis"
    on_success: change
    on_failure: always
    use_notice: false

after_failure:
  - cat /tmp/pgis_reg/*
