---
env:
  global:
    - PGUSER=postgres
    - RUNTESTFLAGS=-v
before_install:
  - rm .travis.yml
  - sudo apt-get update
  - apt-cache search libgdal
  - sudo apt-get install -q build-essential flex autoconf libtool gfortran postgresql-server-dev-9.1 xsltproc libjson0-dev libproj-dev dblatex xsltproc libcunit1-dev libcunit1 docbook-xsl docbook-mathml libgdal-dev libgeos-dev
  - git config --global user.name "PostGIS Travis CI"
  - git config --global user.email $HOSTNAME":not-for-mail@travis-ci.org"
  - ./autogen.sh
language: c
compiler:
  - gcc
notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#postgis"
    on_success: change
    on_failure: always
    use_notice: true
#after_failure:
#  - cat /tmp/pgis_reg/*
