# Version numbering central repository, to be included from various
# places during the build process

# See HOWTO_RELEASE file in SVN for definitions of those three.

POSTGIS_MAJOR_VERSION=3
POSTGIS_MINOR_VERSION=1
POSTGIS_MICRO_VERSION=2dev

# Liblwgeom interface versioning, reset to 0:0:0 (cur:age:rev)
# when changing POSTGIS_MINOR_VERSION

# Current interface, increments when adding an interface
LIBLWGEOM_IFACE_CUR=0
# Age of current interface, only changes when current interface
# changes, either incrementing with it (compatible change) or
# going back to zero (incompatible change).
LIBLWGEOM_IFACE_AGE=0
# Revision of current interface, set to 0 when adding an interface
# or increment when just changing implementations.
LIBLWGEOM_IFACE_REV=0

