# Version numbering central repository, to be included from various 
# places during the build process

# shared library version
SO_MAJOR_VERSION=1
SO_MINOR_VERSION=0
SO_MICRO_VERSION=3cvs

# sql scripts version
SCRIPTS_VERSION=0.3.0

# JDBC code version
JDBC_MAJOR_VERSION=1
JDBC_MINOR_VERSION=0
JDBC_MICRO_VERSION=0
