/* PostGIS Alternative Docbook CSS | Dane Springmeyer
----------------------------------------------------- */

/* 1. Body
----------------------------------------------------- */

body { font: 90% 'Lucida Grande', Verdana, Geneva, Arial, Helvetica, sans-serif; background: #ffffff; color: #2e2e2e; margin: 2em; padding: 2em; }


/* 2. Standard Tags
----------------------------------------------------- */

a {text-decoration: none; color: #418acd; }
a:hover, li a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {color: #e9cb2b; }
p,form,td,th,dt,li{font-size:10pt}
h1, h2 {color: #282e5b;}
h3,h4,th,dt,b {color: #213780;}
h1 { font-size: 24px; line-height: 24px; margin-bottom: 24px;}
h2 { font-size: 22px; line-height: 22px; margin-bottom: 21px;}
h3 { font-size: 16px; line-height: 18px; margin-bottom: 16px;}
h4 { font-size: 14px; line-height: 16px; margin-bottom: 14px;}
h5 { font-size: 13px; line-height: 10px; margin-bottom: 13px;}
table, td {border-collapse: collapse;}
/*table, td {border: 1;padding: 0}
*/

/* 3. Block Formatted
----------------------------------------------------- */
pre, .literallayout { border-right-width: 0px; border-left-width: 0px; border-bottom-width: 2px; border-top-width: 2px; font-family: "DejaVu Sans", "Lucida Grande", "Verdana", Courier, mono; line-height: 16px; border-color: #f7931e; border-style: solid; font-size: 11px; margin-bottom: 10px; margin-top: 10px; overflow: auto; padding: 10px; background: #f8f8f9; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.note { border-left-width: 0px; border-bottom-width: 2px; border-right-width: 0px; border-top-width: 2px; width: 80%; border-color: #a2d545; border-style: solid; font-size: 11px; margin-bottom: 10px; margin-top: 10px; overflow: auto; padding: 10px; background: #e4f7dd; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
/* code { border-right-style: solid; border-right-color: #79791a; border-left-color: #79791b; border-left-style: solid; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px; border-top-width: 0px; padding-left: 3px; padding-bottom: 1px; padding-right: 3px; padding-top: 1px; font-family: "Courier New", Courier, Monaco, monospace; color: #fefff7; background: #9b9e96; -moz-border-radius: 2px; -webkit-border-radius: 2px;} */
.programlisting {font-family: "Courier New", Courier, Monaco, monospace;}
.warning { border-left-width: 0px; border-bottom-width: 2px; border-right-width: 0px; border-top-width: 2px; width: 80%; border-color: #a2d545; border-style: solid; font-size: 11px; margin-bottom: 10px; margin-top: 10px; overflow: auto; padding: 10px; background: #FFE699; -moz-border-radius: 2px; -webkit-border-radius: 2px;}

/* 4. Docbook Specifics
----------------------------------------------------- */
.question {font-weight: bold; color: #213780;}
.term { font-weight: bold; color: #38488d;}
.term:hover { font-weight: bold; color: #88000f;}
.chapter { margin-top: 60px; }
.sect1 { margin-top: 50px; }
.sect2 { margin-top: 40px; }
.sect3 { margin-top: 30px; }
.caption p {font-style: italic; font-size: 90%;}
.remark { background: #ffff00; }
.equation {font-style: italic; font-size: 90%;}
.command, .code {font-weight: normal; font-family: "Courier New", Courier, Monaco, monospace; color: #000000;}
.styledtable table thead th { border-right-width: 0px; border-left-width: 0px; border-bottom-width: 1px; border-top-width: 0px; border-color: #f7931e; border-style: solid;  }
.styledtable > table { border-right-width: 0px; border-left-width: 0px; border-bottom-width: 2px; border-top-width: 2px; border-color: #f7931e; border-style: solid;  }
.styledtable table td,th { color: #000000; font-style: italic; padding-right:10px; padding-left:10px; border-right-width: 0px; border-left-width: 0px; border-bottom-width: 2px; border-top-width: 2px; border-width: 0px;}
.pdparam {color: #990000}
