H1,H2,H3,H4,TH,DT,B{color:#656599;font-family:verdana,arial,helvetica}
A.ulink,A.vlink,P,LI,TD{font-family:verdana,arial,helvetica}
B,TH,DT{color:#656599;font-weight:bold}
PRE{font-family:courier}
TT{font-family:courier}
CODE{font-family:courier}
.LITERALLAYOUT{font-weight:bold;font-family:courier}
.QUESTION{color:#656599;font-weight:bold}
P,FORM,TD,TH,DT,LI{font-size:10pt}
H1{font-size:15pt}
H2{font-size:13pt}
H3{font-size:12pt}
H4{font-size:11pt}
