/* 
* PostGIS Alternative Docbook CSS
* Dane Springmeyer 
* Paul Ramsey
*/

/* 1. Body ----------------------------------------------------- */
body {
    font: 100% 'Lucida Grande', Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #2e2e2e;
    margin: 0;
    padding: 0em 4em 0em 4em;
}
div.navheader {
    margin: 0em -4em 0em -4em;
    padding: 2em;
    background: #579;
}

div.navfooter {
    margin: 0em -4em 0em -4em;
    padding: 2em 6em 2em 6em;
    background: #579;
    color: white;
}

div.navfooter table {
    color: white;
}

div.navheader table tbody tr:first-child th {
    color: white;
    font-size: 140%;
    font-style: normal;
}

div.navheader table tbody tr:nth-child(2) {
    display: none;
}

div.navfooter a {
    text-decoration: none;
    color: #bcF;
}
div.navfooter a:hover {
    color: #e9cb2b;
}

div.refnamediv {
    display: none;
}

div.refentry {
    margin: 2em;
}
hr {
     display: none;
}

div.funcsynopsis code {
    font: unset;
}

/* 2. Standard Tags ----------------------------------------------------- */
a {
    text-decoration: none;
    color: #55d;
}
a:hover, li a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #e9cb2b;
}
p,form,td,th,dt,li{
/*   font-size:10pt */
}
h1, h2 {
    color: #579;
}
h3,h4,th,dt,b {
    color: #579;
}
h1 {
     font-size: 175%;
     margin-top: 1.2em;
     margin-bottom: 0.5em;
}
h2 {
    font-size: 150%;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 130%;
    margin-top: 1.1em;
    margin-bottom: 0.4em;
}
h4 {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 0.3em;
}
h5 {
    font-size: 110%;
    margin-top: 1em;
    margin-bottom: 0.3em;
}
table, td {
    border-collapse: collapse;
}

/*table, td {
    border: 1;
    padding: 0
}*/

/* 3. Block Formatted ----------------------------------------------------- */

pre, .literallayout {
    border-width: 0;
    font-family: Consolas, Monaco, monospace;
    border-style: solid;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: auto;
    padding: 1em;
    background: #eee;
    border-radius: 1em;
}

div.note {
    font-size: 90%;
    border-color: #dd5;
    border-style: solid;
    border-width: 1.5px;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: auto;
    padding: 0.8em;
    background: #ffe;
    border-radius: 1em;
}
div.note table p {
    font-size: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
div.note table tr td img {
    margin: 0 0.5em 0 0;
    padding: 0 0 0 0;
}

div.warning {
    font-size: 90%;
    border-color: #cc5555;
    border-style: solid;
    border-width: 1.5px;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: auto;
    padding: 0.8em;
    background: #FFf1f1;
    border-radius: 1em;
}
div.warning table p {
    font-size: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.warning table tr td img {
    margin: 0 0.5em 0 0;
    padding: 0 0 0 0;
}

div.important {
    font-size: 90%;
    border-color: #55d;
    border-style: solid;
    border-width: 1.5px;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow: auto;
    padding: 0.8em;
    background: #eef;
    border-radius: 1em;
}
div.important table p {
    font-size: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
div.important table tr td img {
    margin: 0 0.5em 0 0;
    padding: 0 0 0 0;
}



span.inlinemediaobject img {
    vertical-align: middle;
}
      
.programlisting {
    font-family: Consolas, Monaco, monospace;
}

/* 4. Docbook Specifics ----------------------------------------------------- */

span.emphasis {
    font-style: italic;
}

tr.question {
    font-weight: bold;
    color: #248;
}
tr.question td {
    padding-bottom: 0.5em;
    padding-top: 0.4em;
}

.term {
    font-weight: bold;
    color: #459;
}
.term:hover {
    font-weight: bold;
    color: #801;
}
.chapter {
    margin-top: 60px;
}
.sect1 {
    margin-top: 50px;
}
.sect2 {
    margin-top: 40px;
}
.sect3 {
    margin-top: 30px;
}
.caption p {
    font-style: italic;
}
.remark {
    background: #ff0;
}
.equation {
    font-style: italic;
}
.command, .code, .varname, .filename {
    font-size: 105%;
    font-weight: normal;
    font-family: Consolas, Monaco, monospace;
    color: black;
    background-color: #eee;
    font-weight: bold;
}

.styledtable table thead th {
    border-color: #ddd;
    border-style: solid;
}
.styledtable > table {
     border-color: #ddd;
     border-style: solid;
}
.styledtable table td,th {
     color: black;
     padding: 0.3em;
}

table.informaltable {
    border-color: #aaa;
}
table.informaltable td, th {
    padding: 0.2em 0.4em 0.2em 0.4em;
}

.pdparam {
    color: #900
}
 